<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Enter to the parking lot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner name="lines" *ngIf="showloadingMap" color="alert" style=" width:50%;"></ion-spinner>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="{{ actionParkingColor }}" (click)="onParkingAction()">
      <ion-icon name="car"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="gotoDetailPage()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <div #mapElement class="map"></div>
</ion-content>